<?xml version="1.0" ?>
<launch>

  <arg name="robot" default="$(find assembly_env_description)/robots/assembly_env.urdf.xacro"/>
  <arg name="robot_id" default="panda_single"/>
  <arg name="rviz" default="false"/>
  <arg name="rqt" default="false"/>
  <arg name="robot_ips" default="{panda_right/robot_ip: 172.16.4.4}"/>

  <arg name="hw_config_file" default="$(find assembly_dual_controllers)/config/franka_combined_control_single_node.yaml"/>
  <arg name="controllers_file" default="$(find assembly_dual_controllers)/config/default_combined_controllers_single.yaml"/>

  <arg name="controllers_to_start" default="panda_right_state_controller"/>
  <arg name="joint_states_source_list" default="[panda_right_state_controller/joint_states]"/>

  <include file="$(find franka_control)/launch/franka_combined_control.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="robot_ips" value="$(arg robot_ips)"/>
    <arg name="hw_config_file" value="$(arg hw_config_file)"/>
    <arg name="controllers_file" value="$(arg controllers_file)"/>
    <arg name="controllers_to_start" value="$(arg controllers_to_start)"/>
    <arg name="joint_states_source_list" value="$(arg joint_states_source_list)"/>
  </include>

  <group ns="$(arg robot_id)">
    <rosparam command="load" file="$(find assembly_dual_controllers)/config/assembly_dual_controllers.yaml"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="assembly_single_controller"/>

  </group>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find assembly_env_description)/robots/assembly_env.urdf.xacro'" />
  <include file="$(find assembly_moveit_config)/launch/planning_context.launch"/>
  
</launch>
